
.graphDetails {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: auto;
}

.graphAverage {
    position: relative;
    display: inline-block;
    width: 11.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    background-color: #032747;
    border-radius: 0.2rem;
    color: #fff;
    transition: margin-left 1.5s;
}

.graphAverageMin {
    top: -3px;
}

.graphAverageMax {
    top: 3px;
}

.graphTagMin {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -0.1rem;
    margin-left: -0.5rem;
    display: block;
    border-top: 0.9rem solid #032747;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    transition: left 1.5s;
}

.graphTagMax {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -3.5rem;
  margin-left: -0.5rem;
  display: block;
  border-bottom: 0.9rem solid #032747;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  transition: left 1.5s;
}

.graphBar {
    position: relative;
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: #ecf0f1;
    border-radius: 0.2rem;
}

.graphMin,
.graphMax {
    flex: 1;
    font-size: 1.2rem;
}

.graphMax {
    text-align: right;
}

.graphLabel {
  width: 100%;
  position: relative;
  bottom: 25px;
}

.graphLabelMin {
    float: left;
    padding: 0 5px;
    color: #424242;
    font-size: 12px;
    line-height: 2.5rem;
    z-index: 99;
}

.graphLabelMax {
  float: right;
  padding: 0 5px;
  right: 0;
  top: 0;
  color: #424242;
  font-size: 12px;
  line-height: 2.5rem;
  z-index: 99;
}

.minDetails {
    font-size: 1.2rem;
}

.smallAverage {
    display: none;
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.3;
}

.graphRange {
  background-color: #1bbc9b;

  width: 0;
  height:100%;
  //margin-left: auto;
  //margin-right: auto;
  transition: width 1.5s;
}

.coverLeft {
  display: inline-block;
  position: absolute;
  height: 90px;
  margin-left: -20px;
  background-color: white;
  z-index: 2;
  width:2rem;
}

.coverRight {
  display: inline-block;
  position: absolute;
  height: 90px;
  right: -15px;
  bottom: 30px;
  background-color: white;
  z-index: 2;
  width:2rem;
}
