.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 14px;
}

.labelTitle {
    font-size: 12px;
}

.chart {
    padding-bottom: 10px;
    width: 200px;
    z-index: 9;
}

.bar{
    height: 20px;
    max-width: 800px;
    line-height: 20px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.barInner {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
}

.barOuter {
    content: '';
    background: #1abc9c;
    max-width: 0;
    height: 20px;
    transition: 0.5s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.value {
    padding-left: 10px;
    font-size: 14px;
}

.rangeValueContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

@media screen and (max-width:500px) {
    .chart {
        width: 150px;
    }

    .bar{
        height: 20px;
        line-height: 20px;
    }

    .barInner {
        height: 20px;
    }

    .barOuter {
        height: 20px;
    }
}
