.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 14px;
}

.labelTitle {
    font-size: 12px;
}

.chart {
    padding-bottom: 20px;
    width: 200px;
    z-index: 9;
}

.bar {
    height: 20px;
    max-width: 800px;
    line-height: 20px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.barInner {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
}

.barOuter {
    content: '';
    background: #1abc9c;
    max-width: 0;
    height: 20px;
    transition: 0.5s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.value {
    padding-left: 6px;
    padding-top: 1px;
    font-size: 10px;
    position: fixed;
    color: #424242;
}

.notAvailableValue {
    padding-left: 6px;
    padding-top: 1px;
    font-size: 10px;
    position: fixed;
    color: #a91111;
}

.rangeValueContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

@media screen and (max-width:500px) {
    .chart {
        width: 150px;
        padding-bottom: 10px;
    }
    .bar {
        height: 20px;
        line-height: 20px;
    }
    .barInner {
        height: 20px;
    }
    .barOuter {
        height: 20px;
    }
}

.overlay {
    position: relative;
    /* Sit on top of the page content */
    background-color: grey;
    text-align: center;
    width: 100%;
    color: white;
    padding: 4.5px;
    margin-bottom: 2px;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* Add a pointer on hover */
}
