.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: 14px;
}

.chart {
    position: relative;
    display: block;
    width: 20.5rem;
    height: 10.25rem;
    margin: 1.25rem;
}

.semicircle {
    position: relative;
    display: block;
    width: 20.5rem;
    height: 10.25rem;
    background: #1abc9c;
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
}

.semicircle::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 50%;
    z-index: 2;
    display: block;
    width: 13rem;
    height: 6.6rem;
    margin-left: -6.5rem;
    background: #042747;
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
    transform: scale(1.5);
}

.semicircleMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 12.5rem;
    background: transparent;
    transform: rotate(180deg) translate3d(0, 0, 0);
    transform-origin: center center;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
}

.semicircleMask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 12.625rem;
    height: 6.375rem;
    margin: -1px 0 0 -1px;
    background: #f2f2f2;
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
}

.pointer {
    display: block;
    width: 3px;
    height: 108px;
    background-color: #eee;
    border-radius: 4px 4px 0 0;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 101px;
    transform: rotate(-90deg);
    transform-origin: center bottom;
    transition: transform 800ms ease;
}

.pointerDot {
    width: 15px;
    height: 15px;
    background-color: #eee;
    position: absolute;
    left: 96px;
    bottom: -7px;
    z-index: 5;
    border-radius: 20px;
}

.rangeValueContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.minNumber {
    position: absolute;
    width: 50px;
    text-align: center;
    left: -21px;
    display: inline-block;
    padding-top: 3px;
    font-size: 14px;
}

.maxNumber {
    position: absolute;
    width: 50px;
    right: -21px;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
    font-size: 14px;
}

@media screen and (max-width:500px) {
    .chart {
        width: 14.5rem;
        height: 7.25rem;
    }
    .semicircle {
        width: 14.5rem;
        height: 7.25rem;
    }
    .semicircle::before {
        width: 13rem;
        height: 6.5rem;
        margin-left: -6.5rem;
        bottom: -1px;
        transform: scale(1.0);
    }
    .semicircleMask {
        width: 12.5rem;
        height: 12.5rem;
    }
    .semicircleMask::before {
        width: 12.625rem;
        height: 6.375rem;
    }
    .pointer {
        width: 3px;
        height: 80px;
        bottom: 0;
        left: 73px;
    }
    .pointerDot {
        width: 10px;
        height: 10px;
        left: 70px;
        bottom: -5px;
    }
    .minNumber {
        left: -15px;
    }
    .maxNumber {
        right: -15px;
    }
}

.overlay {
    position: relative;
    text-align: center;
    width: 100%;
    color: #ef645f;
    font-size: 12px;
    top: 93px;
    padding: 4.5px;
    z-index: 9;
}

.padding {
    width: 85%;
}

.mediamValue {
    width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 10px;
    color: #18ca6c;
}
