.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #1b3e94;
    display: flex;
}

.widgetWrap {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 30px;
    padding: 20px;
}

.widgetContainer {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.widgetBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    width: 100%;
    align-items: center;
    color: #fff;
}

.widgetTitle {
    align-self: center;
    padding-bottom: 10px;
}

.expandButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hideContent {
@extend .content;
    max-height: 120px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.showContent {
@extend .content;
    max-height: 1000px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


@media screen and (max-width:500px) {
    .container {
        position: initial;
        top: 0;
        width: 100%;
        display: flex;
        z-index: 5;
    }

    .title{
        font-size: 18px;
        padding-bottom: 5px;
        width: 100%;
    }

    .widgetBox {
        align-items: center;
        padding-bottom: 10px;
    }

    .widgetContainer {
        padding-top: 0;
        align-items: baseline;
    }

    .expandButton {
        bottom: -12px;
        background-color: #1b3e94;
        color: white;
        font-size: 22px;
        padding: 6px 12px 4px;
        border-radius: 0 0 20px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .expandButton:visited {
        color: white;
        text-decoration: none;
    }

    .expandButton:focus {
        color: white;
        text-decoration: none;
    }

    .widgetContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    .widget {
        background-color: #042747;
        border-radius: 0;
        height: auto;
        margin-top: 4px;

        display: flex;
        justify-content: center;
        align-self: start;
        flex-direction: column;
        color: #fafafa;
    }

    .widgetTitle {
        margin-top: 4px;
        align-self: center;
        flex: 1;
        font-size: 12px;
    }

    .widgetSubtitle {
        margin-top: 4px;
        align-self: center;
        flex: 0.5;
        font-size: 10px;

    }
    .widgetDescription {
        margin-top: 4px;
        align-self: center;
        flex: 0.5;
        font-size: 10px;
    }

    .widgetButton {
        position: absolute;
        bottom: 6px;
        width: 100%;
        justify-content: center;
        display: none;
    }

    .expandedContainer {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #042747;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-content: center;
        z-index: 5;
    }

    .expandedContainer .widget {
        width: 100%;
        flex: 1;
    }

    .expandedContainer .widgetTitle {
        font-size: 16px;
    }

    .closeButton {
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 6;
        font-size: 24px;
        color: white;
        text-decoration: none;
    }

    .closeButton:visited {
        color: white;
        text-decoration: none;
    }

    .closeButton:focus {
        color: white;
        text-decoration: none;
    }

    .icon {
        font-size: 26px;
        font-weight: bold;
        color: white;
        margin: 0;
    }
}
