.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #042747;
    display: flex;
}

.expandButton {
    display: none;
}

.widgetContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.widget {
    background-color: #063966;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    margin-top: 48px;

    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    color: #fafafa;

}

.widgetTitle {
    margin-top: 4px;
    align-self: center;
    flex: 1;
}

.widgetSubtitle {
    margin-top: 24px;
    align-self: center;
    flex: 0.5;
}
.widgetDescription {
    margin-top: 4px;
    align-self: center;
    flex: 0.5;
}

.widgetButton {
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.widgetButton button {
    width: 80%;
}

@media screen and (max-width:500px) {
    .container {
        position: initial;
        top: 0px;
        width: 100%;
        height: auto;
        background-color: #042747;
        display: flex;
        z-index: 5;
    }

    .expandButton {
        position: absolute;
        left: 45%;
        bottom: -36px;
        transform: rotate(-90deg);
        background-color: #042747;
        color: white;
        font-size: 24px;
        padding: 12px 6px 12px 6px;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .expandButton:visited {
        color: white;
        text-decoration: none;
    }

    .expandButton:focus {
        color: white;
        text-decoration: none;
    }

    .widgetContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    .widget {
        background-color: #042747;
        border-radius: 0px;
        height: auto;
        margin-top: 4px;

        display: flex;
        justify-content: center;
        align-self: start;
        flex-direction: column;
        color: #fafafa;
    }

    .widgetTitle {
        margin-top: 4px;
        align-self: center;
        flex: 1;
        font-size: 12px;
    }

    .widgetSubtitle {
        margin-top: 4px;
        align-self: center;
        flex: 0.5;
        font-size: 10px;

    }
    .widgetDescription {
        margin-top: 4px;
        align-self: center;
        flex: 0.5;
        font-size: 10px;
    }

    .widgetButton {
        position: absolute;
        bottom: 6px;
        width: 100%;
        justify-content: center;
        display: none;
    }

    .expandedContainer {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #042747;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-content: center;
        z-index: 5;
    }

    .expandedContainer .widget {
        width: 100%;
        flex: 1;
    }

    .expandedContainer .widgetTitle {
        font-size: 16px;
    }

    .closeButton {
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 6;
        font-size: 24px;
        color: white;
        text-decoration: none;
    }

    .closeButton:visited {
        color: white;
        text-decoration: none;
    }

    .closeButton:focus {
        color: white;
        text-decoration: none;
    }
}
