.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #042747;
    display: flex;
    flex-direction: column;
}

.widgetWrap {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 30px;
    padding: 20px;
}

.widgetContainer {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.widgetBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    width: 100%;
    align-items: center;
    color: #fff;
}

.widgetTitle {
    align-self: center;
    padding-bottom: 10px;

}

.widgetTitleCollapse {
    margin: 0;
}

.desc {
    padding: 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    font-size: 10px;
}

.descEngagement {
    padding-top: 0px;
}

.hideContent {
@extend .content;
    max-height: 140px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.showContent {
@extend .content;
    max-height: 1000px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.showItem {
    display: flex;
}

.hideItem {
    display: none;
}

.noCollapseTitle {
    padding-bottom: 10px !important;
}

.collapseTitle {
    padding-bottom: 5px !important;
}

@media screen and (max-width:500px) {
    .container {
        position: initial;
        top: 0;
        width: 100%;
        display: flex;
        z-index: 5;
    }

    .desc {
        display: none;
    }

    .title{
        font-size: 18px;
        padding-bottom: 5px;
        width: 100%;
    }

    .widgetBox {
        align-items: center;
        padding-bottom: 10px;
    }

    .widgetContainer {
        flex-direction: row;
        padding-top: 0;
        align-items: baseline;
    }

    .widgetTitle {
        margin-top: 4px;
        align-self: center;
        flex: 1;
        font-size: 12px;
    }

    .expandButton {
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: -22px;
        background-color: #042747;
        color: white;
        font-size: 22px;
        padding: 6px 12px 4px;
        border-radius: 0 0 20px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .icon {
        font-size: 26px;
        font-weight: bold;
        color: white;
        margin: 0;
    }
}
